name: CI Workflow

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-test-push:
    runs-on: ubuntu-latest

    steps:
      - name: Check out the code
        uses: actions/checkout@v6

      - name: Set up go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25.6"
          cache: true

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v9

      - name: Run the tests
        run: go test -v -race ./...

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image locally
        uses: docker/build-push-action@v5
        with:
          context: .
          push: false
          load: true
          tags: moabdelazem/go-distroless-image:${{ github.sha }}, moabdelazem/go-distroless-image:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: "moabdelazem/go-distroless-image:${{ github.sha }}"
          format: "table"
          exit-code: "1"
          severity: "CRITICAL,HIGH"

      - name: Login to Docker Hub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push Docker image
        if: github.event_name != 'pull_request'
        run: |
          docker push moabdelazem/go-distroless-image:${{ github.sha }}
          docker push moabdelazem/go-distroless-image:latest
